<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cabinet</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="cabinet_page grid">
  {{#if error}}
    <div class="error__message">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="success__message">{{success}}</div>
  {{/if}}
  {{> header_grid }}
  {{> title_section }}
  <main class="grid__item--1--12 grid">
    <div class="main_block__menu grid__item--1--12">
        <div class="main_block__menu__item item__information active">Information</div>
        <div class="main_block__menu__item item__orders">Orders</div>
        <div class="main_block__menu__item item__fav">Favorites</div>
    </div>
    <div class="main__block__pages grid__item--1--12 grid">
      <div class="pages__my_information pages__page grid__item--1--12 show">
        <form action="cabinet/updateData" method="POST" class="my_information__form form">
        <span class="form__label">Change information</span>
        <input
          class="form__user_name__input form__input"
          type="text" name="name" 
          required
          value='{{user.name}}'
          minlength="5"
        >
        <input
          class="form__user_tel__input form__input"
          type="text"
          name="phone"
          minlength="16"
          required
          value='{{user.phone}}'
        >
        <input
          class="form__user_email__input form__input"
          type="email"
          name="email"
          minlength="5"
          required
          value='{{user.email}}'
        >
        <button type="submit" class="my_information__submit__button form__button">Save</button>
        </form>
        <form action="cabinet/updatePassword" method="POST" class="my_information__form_password form">
        <span class="form__label">Change password</span>
        <input
          class="form_password__last_password__input form__input"
          type="password" name="password" 
          required
          placeholder="password"
          minlength="5"
        >
        <input
          class="form_password__new_password__input form__input"
          type="password" name="new_password" 
          required
          placeholder="new password"
          minlength="5"
        >
        <button type="submit" class="my_information__submit_password__button form__button">Save</button>
        </form>
      </div>
      <div class="pages__my_orders pages__page grid__item--1--12">
        {{#each orders}}
          <div class="pages__my_orders__order">
            <span class="order__id">#{{this.id}}</span>
            <span class="order__date">{{this.date}}</span>
            <div class="order__product_list">
              {{#each this.products}}
                <div class="product_list__product">
                  <img class="product__image" src={{this.product.images.[0].path}} alt="product_img">
                  <div class="product__information">
                    <span class="product__information__name">{{this.product.name}}</span>
                    <span class="product__information__count">{{this.count}}</span>
                    <span class="product__information__total_price">${{this.total_price}}</span>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="order__total_price">
              <span class="order__total_price__title">Totall price</span>
              <span class="order__total_price__amount">${{this.total_price}}</span>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="pages__my_fav pages__page grid__item--1--12">
         {{#each favourites}}
            <div class="my__fav__product_card product_card pr__detail" id={{this.product.id}}>
                <img src="{{this.product.images.[0].path}}" alt="" class="product_card__image">
                <div class="product_card__block">
                  <div class="product_card__text text">
                  <span class="text__name">{{this.product.name}}</span>
                  <span class="text__price">${{this.product.price}}</span>
                  <span class="text__color">Color: {{this.product.color}}</span>
                  <span class="text__size">Size: {{this.product.size}}</span>
                  <span class="text__category">Category: {{this.product.category.name}}</span>
                  <span class="text__description">{{this.product.description}}</span>
                  </div>
                  <div class="product_card__buttons">
                  <a class="icon delete_fav" id={{this.product.id}}>
                    {{> fav_icon}}
                  </a>
                  <a class="icon cart" id={{this.product.id}}>
                    {{> basket_icon}}
                  </a>
                  <a href="products/{{this.product.id}}" class="icon open">
                    {{> open_icon}}
                  </a>
                  </div>
                </div>
            </div>
         {{/each}}
      </div>
      <div class="pages__empty_message grid__item--1--12">
        <span class="message">It's empty :(</span>
      </div>
    </div>
  </main>
  {{> footer_grid }}
  {{> copyright }}
  <script src="/bundle.js"></script>
</body>
</html>