<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Cart</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="checkout_page grid">
  {{> header_grid }}
  <main class="grid grid__item--1--12">
    {{> title_section }}
    <div class="main_block grid__item--1--12 grid">
      <section class="checkout_page__information_block grid__item--1--8">
      <form class="checkout_page__form_block form_block">
        <div class="form_block__contact_information contact_information">
          <div class="contact_information__titles titles">
            <h2 class="titles__main_title">Contact information</h2>
            <span class="titles__log_in">Already have an account?
              <span class="span__log_in">Log in</span>
            </span>
          </div>
          <input required type="email" name="email" class="contact_information__email form__input" placeholder="Enter your email">
          <div class="contact_information__checkbox">
            <input type="checkbox" name="checkbox">
            <label for="checkbox" class="contact_information__checkbox__label">Keep me up to date on news and exclusive offers</label>
          </div>
        </div>
        <div class="form_block__shipping_adress shipping_adress">
        <h2 class="shipping_adress__title">Shipping Adress</h2>
        <div class="shipping_adress__name">
          <input required minlength='2' type="text" name="first_name" id="first_name" class="shipping_adress__name__input form__input" placeholder="First name">
          <input required minlength='2' type="text" name="second_name" id="second_name" class="shipping_adress__name__input form__input" placeholder="Second name">
        </div>
        <div class="shipping_adress__country">
          <input required minlength='3' type="text" name="country" id="country" placeholder="Country/Region" class="shipping_adress__country__input form__input">
          <input required pattern="[0-9]{3,10}" type="number" name="postcode" id="postcode" placeholder="Postcode" class="shipping_adress__country__input form__input">
        </div>
        <input required minlength='2' type="text" name="city" id="city" placeholder="City" class="shipping_adress__input form__input">
        <input required type="text" minlength='5' pattern="(?=.*\d)(?=.*[a-z]).{8,}" name="adress" id="adress" placeholder="Adress" class="shipping_adress__input form__input">
        <input required type="text" minlength='16' maxlegth="16" name="phone" id="phone" placeholder="Phone Number" class="shipping_adress__phone__input form__input">
        </div>
        <button type="submit" class="form_block__submit">PLACE ORDER</button>
    </form>
    </section>
    <section class="checkout_page__products_block grid__item--9--12">
      <div class="products_block__list">
        {{#each products}}
        <div class="list__product_card">
          <img src="{{this.images.[0].path}}" alt="product_image" class="product_card__image">
          <div class="prodcut_card___des">
            <span class="des__name">{{this.name}}</span>
            <span class="des__count count{{this.id}}" id="{{this.id}}">1</span>
          </div>
          <span class="product_card__price total{{this.id}}">{{this.price}}</span>
        </div>
        {{/each}}
      </div>
      <div class="products_block__bill bill">
        <div class="bill__calculation">
          <div class="calculation__subtotal calculation">
            <span class="subtotal__sign calculation__sign">Subtotal</span>
            <span class="subtotal_amount calculation__amount"></span>
          </div>
          <div class="calculation__taxes calculation">
            <span class="taxes__sign calculation__sign">Taxes</span>
            <span class="taxes_amount calculation__amount"></span>
          </div>
        </div>
        <div class="bill__total">
          <span class="bill__total__sign">Total</span>
          <span class="bill__total__amount"></span>
        </div>
      </div>
    </section>
    </div>
  </main>
  {{> footer_grid }}
  {{> copyright }}
  <script src="/bundle.js"></script>
</body>
</html>