<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="main.css">
</head>
<body class="page">
  {{> preloader}}
  {{> header_grid }}
  <main class="page__main main">
    <section class="main__shop_now shop_now">
  
      <div class="shop_now__main_sign main_sign">
        <span class="main_sign__sale_sign">SALE OFF 50%</span>
        <span class="main_sign__big_sign1">Smoothie Fruits</span>
        <span class="main_sign__big_sign2">Organic Health Recipe</span>
      </div>
      <span class="shop_now__text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      <div class="shop_now__button">
        <a href="/products/" class="button">SHOP NOW</a>
      </div>
    </section>
    <section class="main__categories categories">
      <div class="categories__buttons buttons">
        <div class="buttons__title">Shop By Categoties</div>
        <div class="buttons__arrows">
          <div class="arrow" id="arrow_prev">
            <img src="./images/arrow.png" alt="arrow" class="arrow_icon">
          </div>
          <div class="arrow" id="arrow_next">
            <img src="./images/arrow2.png" alt="arrow" class="arrow_icom">
          </div>
        </div>
        <a href="./products/" class="buttons__view">VIEW ALL</a>
      </div>
      <div class="categories__list list" id="list">
        <div class="list__caruosel" id="caruosel">
          <img src="https://user-images.githubusercontent.com/77466385/157712579-9956d78f-a482-4467-9a1f-05653f729942.jpeg" alt="category-image" class="caruosel__image cat__detail" id='1'>
          <img src="https://user-images.githubusercontent.com/77466385/157712773-105c5135-fdbb-4885-88fd-5fbb9ec8f37a.jpeg" alt="category-image" class="caruosel__image cat__detail" id='2'>
          <img src="https://user-images.githubusercontent.com/77466385/157712637-f32e9e07-2aa0-4948-b869-4cea8f705e2a.jpeg" alt="category-image" class="caruosel__image cat__detail" id='3'>
          <img src="https://user-images.githubusercontent.com/77466385/157712659-d4a0cb0c-e9b2-45e9-9358-5fcd7d2f06bd.jpeg" alt="category-image" class="caruosel__image cat__detail" id='4'>
          <img src="https://user-images.githubusercontent.com/77466385/157712733-73b330fe-47d0-4119-a05c-418982a30b35.jpeg" alt="category-image" class="caruosel__image cat__detail" id='5'>
        </div>
      </div>
    </section>
    <section class="main__deal deal">
      <div class="deal__title title">
        Deal Of The Week:
        <div id="countdown" class="countdown">
          <div class="countdown-number">
            <span class="days countdown-time"></span>
          </div>
          <div class="countdown-number">
            <span class="hours countdown-time"></span>
          </div>
          <div class="countdown-number">
            <span class="minutes countdown-time"></span>    
          </div>
          <div class="countdown-number">
            <span class="seconds countdown-time"></span>
          </div>
        </div>
      </div>
      <div class="deal__products_container products_container">
        {{#each productsDeal}}
          <div class="product_card pr__detail" id={{this.id}}>
            <span class="card__sale">-30%</span>
            <div class="image_block">
              <img src="{{this.images.[0].path}}" alt="img" class="card__image">
            </div>
            <div class="card__cart cart" id="{{this.id}}">
              {{> home_cart_icon}}
              <span class="cart__sign">Add to cart</span>
            </div>
            <div class="card__stars"></div>
            <span class="card__name">{{this.name}}</span>
            <div class="card__price">
              ${{this.price}}
              <span class="price__last">${{this.last_price}}</span>
            </div>
            <div class="card__line_sold"></div>
            <div class="card__sold">
              <span class="sold">Sold:</span>
              <span class="sold_number">18/20</span>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
    <section class="main__best_products best_products">
      <div class="best_products__text text">
        <div class="text__title">BEST PRODUCTS</div>
        <div class="text__name">
          Organic Carrot Smothie
        </div>
        <div class="text__main">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
        <div class="text__main">
          Lorem Ipsum has been the industry.
        </div>
      </div>
      <div class="best_products__examples examples">
        <div class="examples__left">
          <div class="example apple">
            <div class="title">Apple</div>
            <div class="image"></div>
            {{> examples_svg_1}}
          </div>
          <div class="example orange">
            <div class="title">Orange</div>
            <div class="image"></div>
              {{> examples_svg_2}}
          </div>
          <div class="example cinnamon">
            <div class="title">Cinnamon</div>
            <div class="image"></div>
            {{> examples_svg_3}}
          </div>
        </div>
        <div class="examples__right">
          <div class="example lemon">
            {{> examples_svg_4}}
            <div class="image"></div>
            <div class="title">Lemon</div>
          </div>
          <div class="example cinnomomum">
            {{> examples_svg_5}}
            <div class="image"></div>
            <div class="title">Cinnom</div>
          </div>
          <div class="example cumin">
            {{> examples_svg_6}}
            <div class="image"></div>
            <div class="title">Cumin</div>
          </div>
        </div>
      </div>
    </section>
    <section class="main__special_products special_products" id="shop">
      <span class="special_products__sale_sign">SALE OFF 30%</span>
      <h2 class="special_products__title">Special Products</h2>
      <div class="special_products__list list">
        {{#each specialProducts}}
          <div class="list__card card pr__detail" id={{this.id}}>
            <div class="image_block">
               <img src='{{this.images.[0].path}}' alt="img" class="card__image">
            </div>
            <div class="card__title title">
              <span class="name">{{this.name}}</span>
              <span class="price">${{this.price}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
    <section class="main__about about" id="about">
      <div class="about__title_block title_block">
        <span class="title_block__clients_sign">Clients Testimonials</span>
        <h2 class="title_block__title">What People Say?</h2>
        <p class="title_block__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.
        </p>
        <div class="title_block__button">
          <a href="#" class="button">ABOUT US</a>
        </div>
      </div>
      <div class="about__quotes_block quotes_block">
        <div class="quotes_block__quote quote quote--visible">
          <div class="quote__header">
            <div class="header__image"></div>
            <div class="header__information information">
              <span class="information__name">Sonya Sahni</span>
              <span class="information__country">Gurugram, Haryana</span>
            </div>
          </div>
          <p class="quote__text">
            “I wanted to email you and tell you how fantastic my first order was. I am so happy with the quality of the foods you provide.” 
          </p>
        </div>
        <div class="quotes_block__quote quote">
          <div class="quote__header">
            <div class="header__image"></div>
            <div class="header__information information">
              <span class="information__name">Jami Sahni</span>
              <span class="information__country">Gurugram, Haryana</span>
            </div>
          </div>
          <p class="quote__text">
            “I wanted to email you and tell you how fantastic my first order was. I am so happy with the quality of the foods you provide.” 
          </p>
        </div>
        <div class="quotes_block__quote quote">
          <div class="quote__header">
            <div class="header__image"></div>
            <div class="header__information information">
              <span class="information__name">Sonya Sahni</span>
              <span class="information__country">Gurugram, Haryana</span>
            </div>
          </div>
          <p class="quote__text">
            “I wanted to email you and tell you how fantastic my first order was. I am so happy with the quality of the foods you provide.” 
          </p>
        </div>
      </div>
    </section>
    <section class="main__thank_you thank_you">
      <span class="thank_you__sign">Thank you dear customers</span>
      <h2 class="thank_you__title">Get Up To 30% Up Fruit Taste</h2>
      <div class="thank_you__button">
        <a href="./products/" class="button">SHOP NOW</a>
      </div>
    </section>
    <section class="main__news news" id="blog">
      <div class="news__container">
        <div class="news__sign sign">News & Events</div>
        <h2 class="news__title title">Latest Updated</h2>
        <div class="news__post_block post_block">
          <div class="post_block__caruosel">
            <div class="post_block__post post">
              <img src="./images/article1.jpeg" alt="post" class="post__image">
              <span class="post__sign">Vegan</span>
              <h2 class="post__title">Heirloom Bean and Mushroom & “Carnitas” Casserole</h2>
              <p class="post__text">I think of this as a sheet pan sandwich recipe. You roast a bunch of mushrooms and...</p>
              <div class="post__information information">
                  {{> post_icon_date}}
                  <span class="infrormation__date">jan 11, 2021</span>
                  {{> post__icon}}
                  <span class="infrormation__name">by ANNA BRONES</span>
              </div>
            </div>
            <div class="post_block__post post">
                <img src="./images/article2.jpg" alt="post" class="post__image">
                <span class="post__sign">Vegan</span>
                <h2 class="post__title">Heirloom Bean and Mushroom & “Carnitas” Casserole</h2>
                <p class="post__text">I think of this as a sheet pan sandwich recipe. You roast a bunch of mushrooms and...</p>
                <div class="post__information information">
                  {{> post_icon_date}}
                  <span class="infrormation__date">jan 11, 2021</span>
                  {{> post__icon}}
                  <span class="infrormation__name">by ANNA BRONES</span>
                </div>
            </div>
            <div class="post_block__post post">
                <img src="./images/article3.jpg" alt="post" class="post__image">
                <span class="post__sign">Vegan</span>
                <h2 class="post__title">Heirloom Bean and Mushroom & “Carnitas” Casserole</h2>
                <p class="post__text">I think of this as a sheet pan sandwich recipe. You roast a bunch of mushrooms and...</p>
                <div class="post__information information">
                  {{> post_icon_date}}
                  <span class="infrormation__date">jan 11, 2021</span>
                  {{> post__icon}}
                  <span class="infrormation__name">by ANNA BRONES</span>
                </div>
            </div>
          </div>
          <div class="post_block__arrows">
              <div class="post_block__prev arrow"></div>
              <div class="post_block__next arrow"></div>
          </div>
        </div>
        <a href="#" class="news__view_all view_all">View all posts</a>
      </div>
    </section>
    <section class="main__subscribe subscribe">
      <span class="subscribe__sign">Subscribe Newletter</span>
      <h2 class="subscribe__title">Sign up for weekly newsletter</h2>
      <form class="subscribe__form form">
        <input type="email" name="email" class="form__input input" placeholder="Enter your email" required>
        <button class="form__submit submit">
          {{> submit_icon}}
        </button>
      </form>
      <div class="subscribe__icons">
        <a class="icon__link" href="#">
          {{> icon_facebook}}
        </a>
        <a class="icon__link" href="#">
          {{> icon_twitter}}
        </a>
        <a class="icon__link" href="#">
          {{> icon_fit}}
        </a>
        <a  class="icon__link"href="#">
          {{> icon_skype}}
        </a>       
      </div>
    </section>
  </main>
  <footer class="page__footer footer" id="contact">
    <div class="footer__contacts contacts">
      <h2 class="contacts__title">Orga Fresh</h2>
      <div class="contacts__time">
        <span class="time">Monday – Saturday: 8:00 am – 4:00pm</span>
        <span class="time">Sunday: 9:00 am – 5:00pm</span>
      </div>
      <div class="contacts__adress">
        <span class="adress">29 Rue du Bourg Tibourg,</span>
        <span class="adress">75004 Paris, France</span>
      </div>
      <a class="contacts__mail" href="mailto: Organicfood@gmail.com">Organicfood@gmail.com</a>
    </div>
    <div class="footer__menu menu">
      <div class="menu__block block">
        <span class="block__title">Quick links</span>
        <nav class="block__items">
          <a href="#about" class="item">About us</a>
          <a href="#blog" class="item">Blog</a>
          <a href="/cart" class="item">Check out</a>
          <a href="#contact" class="item">Contact</a>
          <a href="#" class="item">Services</a>
        </nav>
      </div>
      <div class="menu__block block">
        <span class="block__title">Categories</span>
        <nav class="block__items">
          <a href="products/?category_id=2" class="item">Vegatables</a>
          <a href="products/?category_id=1" class="item">Fresh fruit</a>
          <a href="products/?category_id=3" class="item">Fresh meats</a>
          <a href="products/?category_id=4" class="item">Nuts</a>
          <a href="products/?category_id=5" class="item">Smothie</a>
        </nav>
      </div>   
      <div class="menu__block block">
        <span class="block__title">Help Center</span>
        <nav class="block__items">
          <a href="#" class="item">Help</a>
          <a href="#" class="item">Returns Policy</a>
          <a href="#" class="item">Terms & Conditions</a>
          <a href="#" class="item">Privacy Policy </a>
          <a href="#" class="item">Support Center</a>
        </nav>
      </div>       
    </div>
    <div class="footer__message"></div>
    <div class="footer__copyright">
      <span class="copyright_sign">Copyright © 2020 Avitexthemes Inc. All rights reserved</span>
      <img src="./images/cards.png" alt="cards" class="cards__image">
    </div>
  </footer>
  <script src="bundle.js"></script>
</body>
</html>
