<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop List</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="products_page grid">
  {{> preloader}}
  {{> header_grid }}
  <div class="error__message_fav">You must log in</div>
  <main class="grid grid__item--1--12">
    {{> title_section }}
    <section class="main__search search grid__item--1--12 grid">
      <div class="search__input_block grid__item--1--4">
        <form action="http://localhost:3000/products/" class="search__form form" method="GET">
          <input class="input plp_search" type="text" name="name" id="search" placeholder="Search" required>
          <button type="submit" class="button">
            {{> icon_sent}}
          </button>
        </form>
      </div>
      <div class="search__showing_settings grid__item--5--12">
        <div class="number_of_results">Showing {{firstProduct}}–{{lastProduct}} of {{resultLength}} results</div>
        <div class="sorting">
          <div class="icons">
          {{> sorting_two}}
          {{> sorting_list}}
          </div>
          <select name="sort" id="sort" class="sorting__default">
            <option value="default">Default sorting</option>
            <option value="expensive">Price high to low</option>
            <option value="cheap">Price low to high</option>
            <option value="sale">Sale</option>
            <option value="best_seller">Popular</option>
          </select>
        </div>
      </div>
    </section>
    <section class="main__list_of_products list_of_products grid__item--1--12 grid">
      <div class="phone_filter">
        {{> icon_filter}}
        <span class="filter_sign">Filter</span>
      </div>
      <div class="left_side_bar left_side_bar grid__item--1--3">
        {{> icon_close}}
        <div class="left_side_bar__categories">
          <h1 class="left_side_bar__title">Product categories</h1>
          <div class="categories__list">
            {{#each categories}}
              <a id="{{this.id}}" class="category_link category_link{{this.id}}">{{this.name}}</a>
            {{/each}}
          </div>
        </div>
        <div class="left_side_bar__price">
          <h1 class="left_side_bar__title">Filter by Price</h1>
          <div class="wrapper">
            <div class="values">
              <input class="input" type="text" id="range1" value={{priceGre}} readonly>
              <span> &dash; </span>
              <input class="input" type="text" id="range2" value={{priceLess}} readonly>
            </div>
            <div class="container">
              <div class="slider-track"></div>
              <input type="range" min="0" max="200" value={{priceGre}} id="slider-1">
              <input type="range" min="0" max="200" value={{priceLess}} id="slider-2">
            </div>
          </div>
        </div>
        <div class="left_side_bar__color">
          <h1 class="left_side_bar__title">Filter by Color</h1>
          <div class="color__circles">
            <a class="circle green" id="green"></a>
            <a class="circle orange" id="orange"></a>
            <a class="circle red" id="red"></a>
            <a class="circle blue" id="blue"></a>
            <a class="circle yellow" id="yellow"></a>
          </div>
        </div>
        <div class="left_side_bar__size">
          <h1 class="left_side_bar__title">Filter by Size</h1>
          <div class="sizes">
            <a id="1" class="size size1">1kg</a>
            <a id="2" class="size size2">2kg</a>
            <a id="3"class="size size3">3kg</a>
            <a id="5" class="size size5">5kg</a>
            <a id="7" class="size size7">7kg</a>
            <a  id="8" class="size size8">8kg</a>
          </div>
        </div>
      </div>
      <div class="products grid__item--4--12">
        {{#if noResult}}
            <h1 class="products__result">No result</h1>
        {{/if}}
        {{#each products}}
          <div class="products__product_card product_card pr__detail" id={{this.id}}>
            <img src="{{this.images.[0].path}}" alt="" class="product_card__image">
            <div class="product_card__block">
              <div class="product_card__text text">
              <span class="text__name">{{this.name}}</span>
              {{#if this.best_seller}}
                  <span class="text__best_seller">BEST SELLER</span>
                {{/if}}
              {{#if this.sale}}
              <span class="text__last_price">${{this.last_price}}</span>
              {{/if}}
              <span class="text__price">${{this.price}}</span>
              <span class="text__color">{{this.color}}</span>
              <span class="text__size">Size: {{this.size}}</span>
              <span class="text__category">Category: {{this.category.name}}</span>
              <span class="text__description">{{this.description}}</span>
              </div>
              <div class="product_card__buttons">
              <a class="icon fav" id={{this.id}}>
                {{> fav_icon_2}}
              </a>
              <a class="icon cart" id={{this.id}}>
                {{> basket_icon}}
              </a>
              <a href="{{this.id}}" class="icon open">
                {{> open_icon}}
              </a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="products__pages grid__item--4--7">
         {{#if noResult}}
          {{true}}
        {{else}}
          {{{ page2 resultLength}}}
        {{/if}}
      </div>
    </section>
  </main>
  {{> footer_grid }}
  {{> copyright }}
  <script>let favouritesId = {{ favouritesId }};</script>
  <script src="/bundle.js"></script>
</body>
</html>