<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Card</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="productDetail_page grid">
  {{> header_grid }}
  <div class="error__message_fav">You must log in</div>
  <main class="grid grid__item--1--12">
    {{> title_section }}
    <div class="section__product_card grid__item--1--12 grid">
      <div class="product_card__images grid__item--1--6">
        <img class="main_image" src={{product.images.[0].path}} alt="main_image">
        <div class="list_of_images">
          <img class="list_image" src={{product.images.[1].path}} alt="img">
          <img class="list_image" src={{product.images.[2].path}} alt="img">
          <img class="list_image" src={{product.images.[0].path}} alt="img">
          <img class="list_image" src={{product.images.[1].path}} alt="img">
        </div>
      </div>
      <div class="product_card__description description grid__item--7--12">
        <h1 class="description__name">{{product.name}}</h1>
        <div class="description__stars"></div>
        <span class="description__price"> ${{product.price}}</span>
        <div class="description__text">{{product.description}}</div>
        <span class="description__category">Category: {{product.category.name}}</span>
        <div class="description__buttons_menu">
          <div class="quantity">
            <span class="quantity__title">Quantity:</span>
            <div class="quantity__block">
              <svg class="quantity__block__decrease arrow" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.771484 4.22852L3.81836 7.27539C4.0332 7.49023 4.24805 7.49023 4.46289 7.27539C4.56055 7.17773 4.60938 7.07031 4.60938 6.95312C4.60938 6.81641 4.56055 6.70898 4.46289 6.63086L1.76758 3.90625L4.46289 1.18164C4.69727 0.966797 4.69727 0.751953 4.46289 0.537109C4.24805 0.322266 4.0332 0.322266 3.81836 0.537109L0.771484 3.58398C0.673828 3.66211 0.625 3.76953 0.625 3.90625C0.625 4.04297 0.673828 4.15039 0.771484 4.22852Z" fill="#888888"/>
              </svg>
              <span class="quantity__block__value">1</span>
              <svg class="quantity__block__increase arrow" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.474609 6.63086C0.240234 6.8457 0.230469 7.06055 0.445312 7.27539C0.679688 7.49023 0.904297 7.49023 1.11914 7.27539L4.16602 4.22852C4.26367 4.15039 4.3125 4.04297 4.3125 3.90625C4.3125 3.76953 4.26367 3.66211 4.16602 3.58398L1.11914 0.537109C0.904297 0.322266 0.679688 0.322266 0.445312 0.537109C0.230469 0.751953 0.240234 0.966797 0.474609 1.18164L3.16992 3.90625L0.474609 6.63086Z" fill="#888888"/>
              </svg>
            </div>
          </div>
          <button class="cart" id={{product.id}}>ADD TO CART</button>
          <div class="icons">
            <svg class="fav icon" id={{product.id}} width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="45" height="45" fill="white" stroke="#ECECEC"/>
              <path d="M31.7726 13.0564C30.6462 11.8709 29.1551 11.2229 27.5636 11.2229C25.9721 11.2229 24.4764 11.8757 23.3501 13.0612L22.7618 13.6803L22.1645 13.0516C21.0381 11.8661 19.5379 11.2085 17.9464 11.2085C16.3595 11.2085 14.8638 11.8613 13.742 13.042C12.6156 14.2275 11.9955 15.8018 12 17.4769C12 19.152 12.6248 20.7215 13.7511 21.9071L22.315 30.9209C22.4335 31.0457 22.5931 31.1129 22.7482 31.1129C22.9032 31.1129 23.0628 31.0505 23.1814 30.9257L31.7635 21.9263C32.8898 20.7407 33.51 19.1664 33.51 17.4913C33.5145 15.8162 32.8989 14.2419 31.7726 13.0564ZM30.8971 21.0095L22.7482 29.553L14.6175 20.9951C13.7237 20.0544 13.2313 18.8064 13.2313 17.4769C13.2313 16.1474 13.7192 14.8995 14.613 13.9635C15.5022 13.0276 16.6878 12.5092 17.9464 12.5092C19.2095 12.5092 20.3997 13.0276 21.2935 13.9683L22.3241 15.0531C22.5658 15.3075 22.9534 15.3075 23.1951 15.0531L24.2165 13.9779C25.1103 13.0372 26.3005 12.5188 27.5591 12.5188C28.8176 12.5188 30.0033 13.0372 30.8971 13.9731C31.7908 14.9139 32.2788 16.1618 32.2788 17.4913C32.2833 18.8208 31.7908 20.0688 30.8971 21.0095Z" fill="#111111"/>
            </svg>
          </div>
        </div>
        <div class="description__reviews_menu reviews_menu">
          <nav class="reviews_menu__nav">
            <a class="reviews_menu__nav__item--isActive" id="nav__item__description">Description</a>
            <a  class="reviews_menu__nav__item" id="nav__item__reviews">Reviews ({{product.reviews.length}})</a>
          </nav>
          <div class="reviews_menu__text">
            <div class="text--isActive" id="text__description">{{product.description}}</div>
            <div class="text" id="text__reviews">
              {{product.reviews.[0].body}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{> footer_grid }}
  {{> copyright }}
  <script src="/bundle.js"></script>
</body>
</html>