<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Card</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="productDetail_page grid">
  {{> preloader}}
  {{> header_grid }}
  <div class="error__message_fav error__message_review">You must be logged in</div>
  <div class="success__message_review">Review was added</div>
  <main class="grid grid__item--1--12">
    {{> title_section }}
    <div class="section__product_card grid__item--1--12 grid">
      <div class="product_card__images grid__item--1--6">
        <img class="main_image" src={{product.images.[0].path}} alt="main_image">
        <div class="list_of_images">
          <img class="list_image" src={{product.images.[1].path}} alt="img">
          <img class="list_image" src={{product.images.[2].path}} alt="img">
          <img class="list_image" src={{product.images.[0].path}} alt="img">
          <img class="list_image" src={{product.images.[1].path}} alt="img">
        </div>
      </div>
      <div class="product_card__description description grid__item--7--12">
        <h1 class="description__name">{{product.name}}</h1>
        <div class="description__stars"></div>
        <span class="description__price"> ${{product.price}}</span>
        <div class="description__text">{{product.description}}</div>
        <span class="description__category">Category: {{product.category.name}}</span>
        <div class="description__buttons_menu">
          <div class="quantity">
            <span class="quantity__title">Quantity:</span>
            <div class="quantity__block">
              {{> decrease_arrow}}
              <span class="quantity__block__value">1</span>
              {{> increase_arrow}}
            </div>
          </div>
          <button class="cart" id={{product.id}}>ADD TO CART</button>
          <div class="icons">
          {{> pd_fav_icon}}
          </div>
        </div>
        <div class="description__reviews_menu reviews_menu">
          <nav class="reviews_menu__nav">
            <a class="reviews_menu__nav__item--isActive" id="nav__item__description">Description</a>
            <a  class="reviews_menu__nav__item" id="nav__item__reviews">Reviews ({{product.reviews.length}})</a>
          </nav>
          <div class="reviews_menu__text">
            <div class="text--isActive" id="text__description">{{product.description}}</div>
            <div class="text" id="text__reviews">
              {{#each product.reviews}}
                <div class="review__user">{{this.user.name}}</div>
                <span class="review__body">{{this.body}}</span>
              {{/each}}
            </div>
          </div>
        </div>
        <form action="/review" class="description__review_form review_form" method="POST" id={{product.id}}>
            <textarea required class="review_form__input" name="review_body" cols="30" rows="10" placeholder="Leave your review..."></textarea>
            <button type="submit" class="review_form__submit">Send a review</button>
        </form>
      </div>
    </div>
  </main>
  {{> footer_grid }}
  {{> copyright }}
  <script src="/bundle.js"></script>
</body>
</html>