<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop List</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="products_page grid">
  <header class="products_page__header header grid__item--1--12 grid">
    <div class="header__top_bar top_bar grid__item--1--12">
      <a class="top_bar__logo">Orga Fresh</a>
      <div class="links">
        <div class="top_bar__contacts">
          <div class="top_bar__contacts__tel tel">
            <img src="/images/tel.png" alt="phone-icon" class="tel__icon">
            <a href="tel: (+800) 345 678" class="tel__link">
              (+800) 345 678
            </a>
          </div>
          <div class="top_bar__contacts__mail mail">
            <img src="/images/mail.png" alt="mail-icon" class="mail__icon">
            <a href="mailtto: Organicfood@gmail.com" class="mail__link">
              Organicfood@gmail.com
            </a>
          </div>
        </div>
        <div class="top_bar__lang">
          <div class="lang">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.0413 3.89907H3.90537C3.05883 3.89907 2.36675 3.21009 2.36675 2.36045C2.36675 1.5139 3.05574 0.821833 3.90537 0.821833H13.0444C13.273 0.821833 13.4553 0.636457 13.4553 0.410917C13.4553 0.182286 13.2699 0 13.0444 0H3.90537C2.60465 0 1.54492 1.05973 1.54492 2.36045V12.6395C1.54492 13.9403 2.60465 15 3.90537 15H13.0444C13.273 15 13.4553 14.8146 13.4553 14.5891V4.30999C13.4522 4.08445 13.2699 3.89907 13.0413 3.89907ZM12.6304 14.1782H3.90537C3.05883 14.1782 2.36675 13.4892 2.36675 12.6395V4.15242C2.78076 4.50772 3.31835 4.724 3.90537 4.724H12.6304V14.1782Z" fill="white"/>
              <path d="M4.03518 1.98682C3.80655 1.98682 3.62427 2.17219 3.62427 2.39773C3.62427 2.62327 3.80964 2.80865 4.03518 2.80865H11.753C11.9816 2.80865 12.1639 2.62327 12.1639 2.39773C12.1639 2.17219 11.9785 1.98682 11.753 1.98682H4.03518Z" fill="white"/>
              <path d="M5.48117 12.3802C5.52751 12.3956 5.57386 12.4049 5.6202 12.4049C5.79013 12.4049 5.9477 12.2998 6.0064 12.133L6.50692 10.7334H8.43483C8.45027 10.7334 8.46881 10.7334 8.48426 10.7303L8.98477 12.133C9.04348 12.2998 9.20413 12.4049 9.37097 12.4049C9.41732 12.4049 9.46366 12.3956 9.51001 12.3802C9.72319 12.3029 9.83441 12.0681 9.75717 11.8549L7.88488 6.6057C7.88179 6.59334 7.87561 6.58098 7.86943 6.56863C7.86634 6.56245 7.86325 6.55627 7.86016 6.55009C7.85707 6.54391 7.85398 6.53773 7.85089 6.53155C7.8478 6.52537 7.84162 6.51919 7.83853 6.50992C7.83544 6.50683 7.83235 6.50065 7.82926 6.49756C7.82617 6.49139 7.82 6.48521 7.81382 6.47903C7.81073 6.47594 7.80764 6.46976 7.80146 6.46667C7.79837 6.46049 7.79219 6.4574 7.78601 6.45122C7.77983 6.44504 7.77674 6.44195 7.77056 6.43577C7.76747 6.43268 7.76129 6.42959 7.7582 6.42341C7.75202 6.41723 7.74584 6.41415 7.73967 6.40797C7.73658 6.40488 7.7304 6.40179 7.72731 6.3987C7.72113 6.39561 7.71495 6.38943 7.70877 6.38634C7.70259 6.38325 7.69641 6.38016 7.69023 6.37707C7.68405 6.37398 7.67787 6.37089 7.67169 6.3678C7.65934 6.36162 7.64698 6.35544 7.63462 6.35235H7.63153C7.61917 6.34926 7.60681 6.34617 7.59445 6.34308C7.58828 6.34308 7.58519 6.33999 7.57901 6.33999C7.56974 6.33691 7.56356 6.33691 7.55429 6.33382C7.54811 6.33382 7.54193 6.33382 7.53575 6.33073C7.52957 6.33073 7.5203 6.32764 7.51412 6.32764C7.50795 6.32764 7.50177 6.32764 7.49559 6.32764C7.48941 6.32764 7.48323 6.32764 7.47396 6.32764C7.46778 6.32764 7.45851 6.32764 7.45233 6.33073C7.44615 6.33073 7.43997 6.33073 7.4338 6.33382C7.42453 6.33382 7.41835 6.33691 7.40908 6.33999C7.4029 6.33999 7.39981 6.34308 7.39363 6.34308C7.38127 6.34617 7.36891 6.34926 7.35964 6.35235H7.35656C7.3442 6.35544 7.33184 6.36162 7.31948 6.3678C7.3133 6.37089 7.30712 6.37398 7.30094 6.37707C7.29476 6.38016 7.28858 6.38325 7.28241 6.38634C7.27623 6.38943 7.27005 6.39561 7.26078 6.3987C7.25769 6.40179 7.25151 6.40488 7.24842 6.40797C7.24224 6.41415 7.23606 6.41723 7.22988 6.42341C7.22679 6.4265 7.22061 6.42959 7.21752 6.43577C7.21134 6.44195 7.20825 6.44504 7.20208 6.45122C7.1959 6.4574 7.19281 6.46049 7.18663 6.46667C7.18354 6.46976 7.18045 6.47594 7.17427 6.47903C7.16809 6.48521 7.165 6.49139 7.15882 6.49756C7.15573 6.50065 7.15264 6.50683 7.14955 6.50992C7.14646 6.5161 7.14028 6.52228 7.13719 6.52846C7.1341 6.53464 7.13101 6.54082 7.12793 6.547C7.12484 6.55318 7.12175 6.55936 7.11866 6.56554C7.11248 6.57789 7.1063 6.59025 7.10321 6.60261L5.22473 11.8518C5.15676 12.0681 5.26799 12.3029 5.48117 12.3802ZM7.49868 7.96512L8.19384 9.91157H6.80043L7.49868 7.96512Z" fill="white"/>
            </svg>
            <span>English</span>
          </div>
          <div class="USD">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_3_5233)">
              <path d="M16.8033 2.19668C15.3868 0.780117 13.5033 0 11.5 0C9.49668 0 7.61324 0.780117 6.19668 2.19668C4.78015 3.61324 4 5.49668 4 7.5C4 9.50332 4.78015 11.3868 6.19668 12.8033C7.61324 14.2199 9.49668 15 11.5 15C13.5033 15 15.3868 14.2199 16.8033 12.8033C18.2199 11.3868 19 9.50332 19 7.5C19 5.49668 18.2199 3.61324 16.8033 2.19668ZM11.5 14.1211C7.84911 14.1211 4.87891 11.1509 4.87891 7.5C4.87891 3.84911 7.84911 0.878906 11.5 0.878906C15.1509 0.878906 18.1211 3.84911 18.1211 7.5C18.1211 11.1509 15.1509 14.1211 11.5 14.1211Z" fill="white"/>
              <path d="M11.9707 7.06052H11.0293C10.4929 7.06052 10.0566 6.6242 10.0566 6.08789C10.0566 5.55155 10.493 5.11523 11.0293 5.11523H12.9121C13.1548 5.11523 13.3516 4.91848 13.3516 4.67578C13.3516 4.43309 13.1548 4.23633 12.9121 4.23633H11.9394V3.26367C11.9394 3.02098 11.7427 2.82422 11.5 2.82422C11.2573 2.82422 11.0605 3.02098 11.0605 3.26367V4.23633H11.0293C10.0083 4.23633 9.17773 5.06695 9.17773 6.08789C9.17773 7.10883 10.0084 7.93942 11.0293 7.93942H11.9707C12.507 7.93942 12.9434 8.37577 12.9434 8.91208C12.9434 9.44839 12.507 9.88474 11.9707 9.88474H10.0879C9.84521 9.88474 9.64845 10.0815 9.64845 10.3242C9.64845 10.5669 9.84521 10.7636 10.0879 10.7636H11.0605V11.7363C11.0605 11.979 11.2573 12.1758 11.5 12.1758C11.7427 12.1758 11.9394 11.979 11.9394 11.7363V10.7636H11.9707C12.9916 10.7636 13.8222 9.93302 13.8222 8.91208C13.8222 7.89114 12.9916 7.06052 11.9707 7.06052Z" fill="white"/>
              </g>
              <defs>
              <filter id="filter0_d_3_5233" x="0" y="0" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_5233"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_5233" result="shape"/>
              </filter>
              </defs>
            </svg>
            <span>USD</span>
          </div>
        </div>
      </div>
    </div>
    <nav class="header__nav nav grid__item--1--12 grid">
      <menu class="nav__menu menu grid__item--1--4">
        <a href="/" class="menu__item">Home</a>
        <a href="/products" class="menu__item">Shop</a>
        <a href="#about" class="menu__item">About</a>
        <a href="#blog" class="menu__item">Blog</a>
        <a href="#contact" class="menu__item">Contact</a>
      </menu>
      <a href="#" class="nav__logo logo grid__item--6--7">
        Orga
        <span class="logo--color--black">Fresh</span>
      </a>
      <div class="nav__right_side_bar right_side_bar grid__item--11--12">
        <a href="#" class="right_side_bar__icon">
          <img src="/images/search.png" alt="search-icon" class="icon">
        </a>
        <a href="#" class="right_side_bar__icon">
          <img src="/images/hear.png" alt="heart-icon" class="icon">
        </a>
        <a href="#" class="right_side_bar__icon">
          <img src="/images/basket.png" alt="basket-icon" class="icon">
        </a>
      </div>
    </nav>
  </header>
  <main class="grid grid__item--1--12">
    <section class="main__title_section title_section grid__item--1--12">
      <h2 class="title_section__title title">
        Shop List Side Bar
      </h2>
      <div class="title_section__navigation navigation">
        <a href="/" class="navigation__link link">Home</a>
        <a href="/products" class="navigation__link link link--active">Shop List Side Bar</a>
      </div>
    </section>
    <section class="main__search search grid__item--1--12 grid">
      <div class="search__input_block grid__item--1--3">
        <form action="http://localhost:3000/products/sort" class="search__form form" method="GET">
          <input class="input plp_search" type="text" name="name" id="search" placeholder="Search" required>
          <button type="submit" class="button">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.826 18.98L14.9657 14.1197C16.2695 12.6208 17.0588 10.6652 17.0588 8.52772C17.0588 3.82262 13.2318 0 8.53113 0C3.82603 0 0.00341797 3.82705 0.00341797 8.52772C0.00341797 13.2284 3.83047 17.0554 8.53113 17.0554C10.6686 17.0554 12.6243 16.2661 14.1232 14.9623L18.9835 19.8226C19.0988 19.9379 19.254 20 19.4047 20C19.5555 20 19.7107 19.9424 19.826 19.8226C20.0566 19.592 20.0566 19.2106 19.826 18.98ZM1.19632 8.52772C1.19632 4.48337 4.48679 1.19734 8.5267 1.19734C12.571 1.19734 15.8571 4.4878 15.8571 8.52772C15.8571 12.5676 12.571 15.8625 8.5267 15.8625C4.48679 15.8625 1.19632 12.5721 1.19632 8.52772Z" fill="black"/>
            </svg>
          </button>
        </form>
      </div>
      <div class="search__showing_settings grid__item--4--12">
        <div class="number_of_results">Showing {{firstProduct}}–{{lastProduct}} of {{length}} results</div>
        <div class="sorting">
          <div class="icons">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="39" height="39" fill="white" stroke="#ECECEC"/>
            <path d="M18.4444 10H10.7407C10.3333 10 10 10.3333 10 10.7407V18.4444C10 18.8519 10.3333 19.1852 10.7407 19.1852H18.4444C18.8519 19.1852 19.1852 18.8519 19.1852 18.4444V10.7407C19.1852 10.3333 18.8519 10 18.4444 10ZM17.7037 17.7037H11.4815V11.4815H17.7037V17.7037Z" fill="#111111"/>
            <path d="M29.2594 10H21.5557C21.1483 10 20.8149 10.3333 20.8149 10.7407V18.4444C20.8149 18.8519 21.1483 19.1852 21.5557 19.1852H29.2594C29.6668 19.1852 30.0001 18.8519 30.0001 18.4444V10.7407C30.0001 10.3333 29.6668 10 29.2594 10ZM28.5186 17.7037H22.2964V11.4815H28.5186V17.7037Z" fill="#111111"/>
            <path d="M18.4444 20.8149H10.7407C10.3333 20.8149 10 21.1483 10 21.5557V29.2594C10 29.6668 10.3333 30.0001 10.7407 30.0001H18.4444C18.8519 30.0001 19.1852 29.6668 19.1852 29.2594V21.5557C19.1852 21.1483 18.8519 20.8149 18.4444 20.8149ZM17.7037 28.5186H11.4815V22.2964H17.7037V28.5186Z" fill="#111111"/>
            <path d="M29.2594 20.8149H21.5557C21.1483 20.8149 20.8149 21.1483 20.8149 21.5557V29.2594C20.8149 29.6668 21.1483 30.0001 21.5557 30.0001H29.2594C29.6668 30.0001 30.0001 29.6668 30.0001 29.2594V21.5557C30.0001 21.1483 29.6668 20.8149 29.2594 20.8149ZM28.5186 28.5186H22.2964V22.2964H28.5186V28.5186Z" fill="#111111"/>
          </svg>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" fill="#60A00C"/>
            <path d="M13.3333 10H11.1111C10.4974 10 10 10.4974 10 11.1111V13.3333C10 13.947 10.4974 14.4444 11.1111 14.4444H13.3333C13.947 14.4444 14.4444 13.947 14.4444 13.3333V11.1111C14.4444 10.4974 13.947 10 13.3333 10Z" fill="white"/>
            <path d="M13.3333 17.7778H11.1111C10.4974 17.7778 10 18.2753 10 18.8889V21.1112C10 21.7248 10.4974 22.2223 11.1111 22.2223H13.3333C13.947 22.2223 14.4444 21.7248 14.4444 21.1112V18.8889C14.4444 18.2753 13.947 17.7778 13.3333 17.7778Z" fill="white"/>
            <path d="M13.3333 25.5557H11.1111C10.4974 25.5557 10 26.0531 10 26.6668V28.889C10 29.5027 10.4974 30.0001 11.1111 30.0001H13.3333C13.947 30.0001 14.4444 29.5027 14.4444 28.889V26.6668C14.4444 26.0531 13.947 25.5557 13.3333 25.5557Z" fill="white"/>
            <path d="M30 11.1113H16.6666V13.3336H30V11.1113Z" fill="white"/>
            <path d="M30 18.8887H16.6666V21.1109H30V18.8887Z" fill="white"/>
            <path d="M30 26.6665H16.6666V28.8887H30V26.6665Z" fill="white"/>
          </svg>
          </div>
          <select name="sort" id="sort" class="select">
              <option value="default">Default sorting</option>
          </select>
        </div>
      </div>
    </section>
    <section class="main__list_of_products list_of_products grid__item--1--12 grid">
      <div class="left_side_bar left_side_bar grid__item--1--3">
        <div class="left_side_bar__categories">
          <h1 class="left_side_bar__title">Product categories</h1>
          <div class="categories__list">
            {{#each categories}}
              <a id="{{this.id}}" class="category_link">{{this.name}}</a>
            {{/each}}
          </div>
        </div>
        <div class="left_side_bar__price">
          <h1 class="left_side_bar__title">Filter by Price</h1>
          <div class="range-slider">
            <input value="0" min="0" max="200" step="5" type="range">
            <input value="200" min="0" max="200" step="5" type="range">
            <svg width="100%" height="24"></svg>
            <div class="range-slider__sign"><span>Price:</span><input type="text" value="0" readonly><input type="text" value="200" min="0" readonly></div>
        </div>
        </div>
        <div class="left_side_bar__color">
          <h1 class="left_side_bar__title">Filter by Color</h1>
          <div class="color__circles">
            <a class="circle green" id="green"></a>
            <a class="circle orange" id="orange"></a>
            <a class="circle red" id="red"></a>
            <a class="circle blue" id="blue"></a>
            <a class="circle yellow" id="yellow"></a>
          </div>
        </div>
        <div class="left_side_bar__size">
          <h1 class="left_side_bar__title">Filter by Size</h1>
          <div class="sizes">
            <a id="1" class="size">0.5kg</a>
            <a id="3"class="size">3kg</a>
            <a id="5" class="size">5kg</a>
            <a  id="8" class="size">8kg</a>
          </div>
        </div>
      </div>
      <div class="products grid__item--4--12">
        {{#if noResult}}
            <h1 class="products__result">No result</h1>
        {{/if}}
        {{#each products}}
          <div class="products__product_card product_card">
            <img src="{{this.images.[0].path}}" alt="" class="product_card__image">
            <div class="product_card__text text">
              <span class="text__name">{{this.name}}{{this.id}}</span>
              <span class="text__price">${{this.price}}</span>
              <span class="text__color">{{this.color}}</span>
              <span class="text__size">Size: {{this.size}}</span>
              <span class="text__category">Category: {{this.category.name}}</span>
              <span class="text__description">{{this.description}}</span>
            </div>
            <div class="product_card__buttons">
              <a href="" class="icon">
                <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="url(#filter0_d_3_5350)">
                  <circle cx="21.5" cy="20.5" r="17.5" fill="white"/>
                  </g>
                  <path d="M27.7884 15.5189C27.003 14.6882 25.9631 14.2342 24.8533 14.2342C23.7435 14.2342 22.7004 14.6916 21.915 15.5223L21.5048 15.9561L21.0882 15.5156C20.3027 14.6849 19.2565 14.2241 18.1467 14.2241C17.0401 14.2241 15.997 14.6815 15.2148 15.5088C14.4293 16.3395 13.9968 17.4427 14 18.6164C14 19.7901 14.4357 20.8899 15.2211 21.7206L21.1931 28.0366C21.2758 28.124 21.3871 28.1711 21.4952 28.1711C21.6034 28.1711 21.7147 28.1274 21.7973 28.0399L27.7821 21.734C28.5675 20.9033 29 19.8002 29 18.6265C29.0032 17.4527 28.5739 16.3496 27.7884 15.5189ZM27.1779 21.0917L21.4952 27.0781L15.8253 21.0816C15.202 20.4224 14.8586 19.548 14.8586 18.6164C14.8586 17.6848 15.1989 16.8104 15.8221 16.1546C16.4422 15.4988 17.269 15.1355 18.1467 15.1355C19.0276 15.1355 19.8575 15.4988 20.4808 16.1579L21.1995 16.918C21.368 17.0963 21.6383 17.0963 21.8069 16.918L22.5192 16.1647C23.1425 15.5055 23.9724 15.1423 24.8501 15.1423C25.7278 15.1423 26.5546 15.5055 27.1779 16.1613C27.8011 16.8205 28.1414 17.6949 28.1414 18.6265C28.1446 19.5581 27.8011 20.4325 27.1779 21.0917Z" fill="black"/>
                  <defs>
                  <filter id="filter0_d_3_5350" x="0" y="0" width="43" height="43" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset dy="1"/>
                  <feGaussianBlur stdDeviation="2"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.541176 0 0 0 0 0.623529 0 0 0 0 0.658824 0 0 0 0.15 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_5350"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_5350" result="shape"/>
                  </filter>
                  </defs>
                </svg>
              </a>
              <a href="" class="icon">
                <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="url(#filter0_d_3_5345)">
                  <circle cx="21.5" cy="20.5" r="17.5" fill="#60A00C"/>
                  </g>
                  <path d="M17.4354 16.4115C19.6499 14.2929 22.9641 14.2605 25.2093 16.1945L23.4297 16.2657C23.2 16.2754 23.0223 16.4763 23.0315 16.7193C23.0407 16.9557 23.2245 17.1404 23.445 17.1404C23.4512 17.1404 23.4542 17.1404 23.4604 17.1404L26.1926 17.0335C26.4162 17.0238 26.5908 16.8326 26.5908 16.5962V16.5638C26.5908 16.5573 26.5908 16.554 26.5908 16.5476V16.5443L26.4897 13.6871C26.4805 13.4442 26.2875 13.2563 26.0609 13.266C25.8311 13.2757 25.6535 13.4766 25.6627 13.7195L25.727 15.5109C24.6151 14.5488 23.2459 13.9916 21.7818 13.9139C19.9685 13.8167 18.2256 14.4743 16.881 15.7636C15.0309 17.5356 14.2468 20.2308 14.8349 22.7965C14.8808 22.9973 15.0493 23.1302 15.2361 23.1302C15.2698 23.1302 15.3004 23.1269 15.3341 23.1172C15.5547 23.0589 15.6925 22.8224 15.6374 22.5892C15.1228 20.3345 15.8089 17.9664 17.4354 16.4115Z" fill="white"/>
                  <path d="M28.1651 19.5992C28.11 19.3659 27.8864 19.2202 27.6659 19.2785C27.4453 19.3368 27.3075 19.5733 27.3626 19.8065C27.8803 22.0612 27.1911 24.4292 25.5646 25.9842C24.4221 27.0758 22.9886 27.6136 21.5612 27.6136C20.1982 27.6136 18.8382 27.1244 17.7416 26.1591L19.5427 25.9874C19.7694 25.9647 19.9378 25.7541 19.9164 25.5112C19.8949 25.2682 19.6958 25.0933 19.4661 25.116L16.7431 25.3751C16.5164 25.3978 16.348 25.6084 16.3694 25.8513L16.6144 28.7312C16.6328 28.958 16.8135 29.1297 17.0249 29.1297C17.0371 29.1297 17.0494 29.1297 17.0616 29.1264C17.2883 29.1037 17.4568 28.8932 17.4353 28.6502L17.2883 26.8977C18.4002 27.8501 19.7632 28.404 21.2182 28.4818C21.3346 28.4882 21.451 28.4915 21.5643 28.4915C23.252 28.4915 24.8571 27.8371 26.119 26.632C27.9691 24.8601 28.7532 22.1681 28.1651 19.5992Z" fill="white"/>
                  <defs>
                  <filter id="filter0_d_3_5345" x="0" y="0" width="43" height="43" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset dy="1"/>
                  <feGaussianBlur stdDeviation="2"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.541176 0 0 0 0 0.623529 0 0 0 0 0.658824 0 0 0 0.15 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_5345"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_5345" result="shape"/>
                  </filter>
                  </defs>
                </svg>
              </a>
              <a href="" class="icon">
                <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="url(#filter0_d_3_5337)">
                  <circle cx="21.5" cy="20.5" r="17.5" fill="white"/>
                  </g>
                  <path d="M18.5031 23.7109H26.7681C27.7052 23.7109 28.4698 22.9023 28.4698 21.9111V18.2334C28.4698 18.2302 28.4698 18.2236 28.4698 18.2204C28.4698 18.2106 28.4698 18.2041 28.4698 18.1943C28.4698 18.1878 28.4698 18.1813 28.4667 18.1747C28.4667 18.1682 28.4636 18.1584 28.4636 18.1519C28.4636 18.1454 28.4605 18.1389 28.4605 18.1324C28.4574 18.1258 28.4574 18.1193 28.4544 18.1095C28.4513 18.103 28.4513 18.0965 28.4482 18.09C28.4451 18.0835 28.4451 18.0769 28.442 18.0704C28.4389 18.0639 28.4359 18.0574 28.4328 18.0476C28.4297 18.0411 28.4266 18.0345 28.4235 18.0313C28.4205 18.0248 28.4174 18.0182 28.4143 18.0117C28.4112 18.0052 28.4081 18.0019 28.405 17.9954C28.402 17.9889 28.3958 17.9824 28.3927 17.9759C28.3896 17.9693 28.3865 17.9661 28.3804 17.9596C28.3773 17.953 28.3711 17.9498 28.368 17.9433C28.365 17.9367 28.3588 17.9335 28.3557 17.927C28.3526 17.9204 28.3465 17.9172 28.3434 17.9139C28.3372 17.9074 28.3341 17.9041 28.328 17.8976C28.3218 17.8943 28.3187 17.8878 28.3126 17.8846C28.3064 17.8813 28.3002 17.8748 28.2941 17.8715C28.2879 17.8683 28.2848 17.865 28.2786 17.8617C28.2725 17.8585 28.2663 17.8552 28.2601 17.8487C28.254 17.8454 28.2478 17.8422 28.2416 17.8389C28.2355 17.8357 28.2293 17.8324 28.2232 17.8291C28.217 17.8259 28.2108 17.8226 28.2047 17.8194C28.1985 17.8161 28.1923 17.8161 28.1862 17.8128C28.18 17.8096 28.1707 17.8063 28.1646 17.8063C28.1584 17.8063 28.1522 17.8031 28.1492 17.8031C28.1399 17.7998 28.1338 17.7998 28.1245 17.7998C28.1214 17.7998 28.1183 17.7965 28.1122 17.7965L17.6368 16.2674V14.722C17.6368 14.7057 17.6368 14.6894 17.6337 14.6764C17.6337 14.6731 17.6337 14.6698 17.6306 14.6633C17.6306 14.6535 17.6275 14.6437 17.6275 14.634C17.6245 14.6242 17.6245 14.6177 17.6214 14.6079C17.6214 14.6014 17.6183 14.5981 17.6183 14.5916C17.6152 14.5818 17.6121 14.572 17.609 14.5622C17.609 14.559 17.606 14.5525 17.606 14.5492C17.6029 14.5394 17.5998 14.5329 17.5936 14.5231C17.5905 14.5199 17.5905 14.5133 17.5875 14.5101C17.5844 14.5036 17.5813 14.497 17.5751 14.4905C17.572 14.484 17.569 14.4807 17.5659 14.4742C17.5628 14.4677 17.5597 14.4644 17.5566 14.4579C17.5535 14.4514 17.5474 14.4449 17.5443 14.4383C17.5412 14.4351 17.5381 14.4318 17.5351 14.4286C17.5289 14.422 17.5227 14.4155 17.5166 14.409C17.5135 14.4057 17.5104 14.4025 17.5073 14.3992C17.5011 14.3927 17.495 14.3862 17.4857 14.3797C17.4826 14.3764 17.4765 14.3731 17.4734 14.3699C17.4672 14.3634 17.4611 14.3601 17.4549 14.3536C17.4456 14.3471 17.4364 14.3405 17.4302 14.3373C17.4272 14.334 17.4241 14.334 17.421 14.3308C17.4087 14.3242 17.3932 14.3177 17.3809 14.3112L15.1089 13.3005C14.8962 13.2059 14.6526 13.3103 14.5632 13.5352C14.4738 13.7602 14.5725 14.0178 14.7852 14.1123L16.8013 15.0122V17.0075V17.3238V19.7495V21.9177V24.6564C16.8013 25.5693 17.4487 26.3257 18.2842 26.4398C18.1331 26.7072 18.0437 27.0202 18.0437 27.3527C18.0437 28.3341 18.799 29.1296 19.7238 29.1296C20.6487 29.1296 21.404 28.3308 21.404 27.3527C21.404 27.0267 21.3207 26.7169 21.1728 26.4561H24.9153C24.7673 26.7202 24.6841 27.0267 24.6841 27.3527C24.6841 28.3341 25.4394 29.1296 26.3642 29.1296C27.2891 29.1296 28.0444 28.3308 28.0444 27.3527C28.0444 26.3746 27.2891 25.5758 26.3642 25.5758H18.5031C18.0221 25.5758 17.6337 25.1617 17.6337 24.6564V23.4631C17.8865 23.6196 18.1855 23.7109 18.5031 23.7109ZM20.5747 27.3495C20.5747 27.845 20.1924 28.2461 19.7269 28.2461C19.2614 28.2461 18.8792 27.8418 18.8792 27.3495C18.8792 26.8571 19.2614 26.4529 19.7269 26.4529C20.1924 26.4529 20.5747 26.8539 20.5747 27.3495ZM27.2151 27.3495C27.2151 27.845 26.8328 28.2461 26.3673 28.2461C25.9018 28.2461 25.5195 27.8418 25.5195 27.3495C25.5195 26.8571 25.9018 26.4529 26.3673 26.4529C26.8328 26.4529 27.2151 26.8539 27.2151 27.3495ZM26.7681 22.8306H18.5031C18.0221 22.8306 17.6337 22.4165 17.6337 21.9111V19.743V17.3173V17.1542L27.6374 18.6116V21.9079C27.6374 22.4198 27.2459 22.8306 26.7681 22.8306Z" fill="black"/>
                  <defs>
                  <filter id="filter0_d_3_5337" x="0" y="0" width="43" height="43" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset dy="1"/>
                  <feGaussianBlur stdDeviation="2"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.541176 0 0 0 0 0.623529 0 0 0 0 0.658824 0 0 0 0.15 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_5337"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_5337" result="shape"/>
                  </filter>
                  </defs>
                </svg>
              </a>
              <a href="" class="icon">
                <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="url(#filter0_d_3_5341)">
                  <circle cx="21.5" cy="20.5" r="17.5" fill="white"/>
                  </g>
                  <path d="M28.8687 27.235L25.2234 23.5898C26.2013 22.4656 26.7933 20.9989 26.7933 19.3958C26.7933 15.867 23.923 13 20.3975 13C16.8687 13 14.0017 15.8703 14.0017 19.3958C14.0017 22.9213 16.872 25.7916 20.3975 25.7916C22.0006 25.7916 23.4673 25.1996 24.5915 24.2217L28.2367 27.867C28.3232 27.9534 28.4396 28 28.5527 28C28.6658 28 28.7822 27.9568 28.8687 27.867C29.0416 27.694 29.0416 27.408 28.8687 27.235ZM14.8964 19.3958C14.8964 16.3625 17.3642 13.898 20.3942 13.898C23.4274 13.898 25.892 16.3659 25.892 19.3958C25.892 22.4257 23.4274 24.8969 20.3942 24.8969C17.3642 24.8969 14.8964 22.429 14.8964 19.3958Z" fill="black"/>
                  <defs>
                  <filter id="filter0_d_3_5341" x="0" y="0" width="43" height="43" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset dy="1"/>
                  <feGaussianBlur stdDeviation="2"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.541176 0 0 0 0 0.623529 0 0 0 0 0.658824 0 0 0 0.15 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_5341"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_5341" result="shape"/>
                  </filter>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        {{/each}}
        {{#if noResult}}
          {{true}}
        {{else}}
          <div class="products__pages">
            {{{ page2 length}}}
          </div>
        {{/if}}
      </div>
    </section>
  </main>
  <footer class=" checkout_page__footer footer_grid grid__item--1--12 grid">
    <div class="footer__communication communication grid__item--1--12 grid">
      <div class="communication__phone_block phone_block grid__item--1--6">
        <div class="pnone_block__icon_block icon_block">
          <svg class="svg" width="60" height="58" viewBox="0 0 60 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30 22.0015C27.0922 22.0015 24.7266 24.273 24.7266 27.0652H28.2422C28.2422 26.1345 29.0307 25.3773 30 25.3773C30.9693 25.3773 31.7578 26.1345 31.7578 27.0652C31.7578 27.6661 31.4205 28.2268 30.8776 28.5282C29.252 29.4313 28.2422 31.1116 28.2422 32.9135V35.5047H31.7578V32.9135C31.7578 32.3126 32.0951 31.7519 32.638 31.4503C34.2636 30.5474 35.2734 28.8671 35.2734 27.0652C35.2734 24.273 32.9078 22.0015 30 22.0015Z" fill="white"/>
            <path d="M28.2422 38.8804H31.7578V42.2562H28.2422V38.8804Z" fill="white"/>
            <path d="M56.4425 23.9659C55.6739 10.6592 44.1082 0.0585938 30 0.0585938C15.8918 0.0585938 4.32609 10.6592 3.55746 23.9659C1.4898 24.6513 0 26.5376 0 28.753V35.5046C0 38.2967 2.36566 40.5683 5.27344 40.5683H12.7795C15.9853 46.5752 22.5009 50.6957 30 50.6957C37.4991 50.6957 44.0147 46.5752 47.2205 40.5683H52.9688V42.4812C52.9688 48.9962 47.4489 54.2966 40.6641 54.2966H28.2422V57.6724H40.6641C49.3874 57.6724 56.4844 50.8576 56.4844 42.4812V40.278C58.5303 39.5812 60 37.705 60 35.5046V28.753C60 26.5376 58.5102 24.6513 56.4425 23.9659ZM30 3.4344C42.0707 3.4344 51.9963 12.3756 52.9015 23.6892H47.2205C44.0147 17.6823 37.4991 13.5618 30 13.5618C22.5009 13.5618 15.9853 17.6823 12.7795 23.6892H7.09852C8.00367 12.3756 17.9293 3.4344 30 3.4344ZM10.6641 37.1925H5.27344C4.30418 37.1925 3.51562 36.4353 3.51562 35.5046V28.753C3.51562 27.8222 4.30418 27.065 5.27344 27.065H10.6641V37.1925ZM30 47.3199C21.2767 47.3199 14.1797 40.5051 14.1797 32.1288C14.1797 23.7524 21.2767 16.9376 30 16.9376C38.7233 16.9376 45.8203 23.7524 45.8203 32.1288C45.8203 40.5051 38.7233 47.3199 30 47.3199ZM56.4844 35.5046C56.4844 36.4353 55.6958 37.1925 54.7266 37.1925H49.3359V27.065H54.7266C55.6958 27.065 56.4844 27.8222 56.4844 28.753V35.5046Z" fill="white"/>
          </svg>            
        </div>
        <div class="text_block">
          <span class="sing_1">Call us 24/7</span>
          <span class="sing_2">You have questions, contact us immediately for answers.</span>
          <a class="number" href="call:to+3 398 356 4793">+3 398 356 4793</a>
        </div>
      </div>
      <div class="communication__mail_block mail_block grid__item--7--12">
        <div class="mail_block__icon_block icon_block">
          <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60 23.7965V23.7912C60 23.7412 59.9972 23.6916 59.9931 23.6423C59.9919 23.6288 59.9902 23.6154 59.9888 23.602C59.9845 23.5633 59.9791 23.525 59.9725 23.487C59.97 23.4727 59.9675 23.4584 59.9647 23.4442C59.9554 23.3979 59.9447 23.352 59.9317 23.3069C59.9304 23.3024 59.9293 23.2979 59.928 23.2934C59.9143 23.2472 59.8984 23.2019 59.8811 23.1571C59.8745 23.14 59.8672 23.1232 59.8601 23.1063C59.8473 23.076 59.8336 23.0461 59.8191 23.0167C59.8106 22.9996 59.8025 22.9824 59.7936 22.9655C59.7717 22.9244 59.7484 22.8841 59.7233 22.8447C59.7139 22.83 59.7036 22.816 59.6938 22.8016C59.6742 22.7729 59.6539 22.7447 59.6327 22.7173C59.6214 22.7027 59.61 22.6881 59.5982 22.6737C59.5673 22.6363 59.5355 22.5998 59.5015 22.565C59.4988 22.5623 59.4962 22.5595 59.4935 22.5568C59.4572 22.5198 59.4185 22.485 59.3788 22.4513C59.3739 22.4471 59.3696 22.4424 59.3646 22.4383L56.3672 19.951V12.307C56.3672 10.0454 54.5272 8.20539 52.2656 8.20539H42.2137L34.1161 1.48527C31.7309 -0.493789 28.2689 -0.493789 25.8839 1.48527L17.7863 8.20528H7.73438C5.47277 8.20528 3.63281 10.0452 3.63281 12.3068V19.9509L0.635273 22.4385C0.630352 22.4426 0.626016 22.4473 0.621094 22.4515C0.581367 22.4853 0.542695 22.5201 0.506367 22.557C0.503672 22.5597 0.501094 22.5625 0.498398 22.5652C0.464531 22.6 0.432539 22.6366 0.401719 22.674C0.389883 22.6882 0.378516 22.7029 0.367148 22.7175C0.345937 22.7451 0.325664 22.7732 0.306094 22.8018C0.29625 22.8162 0.285937 22.8303 0.276562 22.8449C0.251484 22.8842 0.228164 22.9245 0.20625 22.9657C0.197227 22.9826 0.189141 22.9998 0.18082 23.017C0.166289 23.0464 0.152695 23.0763 0.139805 23.1065C0.132656 23.1234 0.125391 23.1402 0.118828 23.1573C0.101484 23.2021 0.0854297 23.2473 0.0718359 23.2936C0.0705469 23.2981 0.0694922 23.3025 0.0682031 23.3071C0.0551953 23.3522 0.0445313 23.3982 0.0351562 23.4445C0.0323438 23.4588 0.0298828 23.4729 0.0274219 23.4872C0.0207422 23.5252 0.0153516 23.5635 0.0111328 23.6022C0.00972656 23.6157 0.00796875 23.629 0.00679688 23.6425C0.0028125 23.6916 0 23.7412 0 23.7912V23.7965V23.7974V53.5545C0 55.3965 0.777891 57.0591 2.02102 58.2349C2.05629 58.2701 2.09168 58.305 2.12941 58.3368C3.27281 59.3697 4.78676 59.9997 6.44531 59.9997H53.5547C55.2134 59.9997 56.7274 59.3696 57.8709 58.3365C57.9083 58.3048 57.9435 58.2702 57.9785 58.2352C59.2219 57.0595 60 55.3966 60 53.5544V23.7974C60 23.7972 60 23.7968 60 23.7965ZM7.73438 11.7209H52.2656C52.5887 11.7209 52.8516 11.9838 52.8516 12.3068V25.9805L51.8569 26.806L31.871 43.3919C30.7869 44.2915 29.2131 44.2914 28.129 43.3919L8.14312 26.8061L7.14844 25.9805V12.3068C7.14844 11.9838 7.41129 11.7209 7.73438 11.7209ZM3.51562 53.5545V27.5342L4.27172 28.1617C4.27219 28.1621 4.27266 28.1625 4.27313 28.1629L21.4375 42.4072L3.69562 54.5656C3.57926 54.2504 3.51562 53.9097 3.51562 53.5545ZM24.2504 44.7415L25.8839 46.0972C28.2689 48.0765 31.7311 48.0763 34.1161 46.0972L35.7496 44.7415L52.8847 56.4842H7.11516L24.2504 44.7415ZM38.5625 42.4073L55.7268 28.1629C55.7272 28.1625 55.7277 28.1621 55.7282 28.1617L56.4843 27.5342V53.5545C56.4843 53.9097 56.4206 54.2504 56.3043 54.5656L38.5625 42.4073ZM28.129 4.19078C29.2131 3.29113 30.7869 3.29113 31.871 4.19078L36.7086 8.20539H23.2914L28.129 4.19078Z" fill="white"/>
          </svg>           
        </div>
        <div class="text_block">
          <span class="sing_1">Subscribe Newsletter</span>
          <span class="sing_2">Sign up for weekly newsletter and better ecommercestores</span>
          <form action="POST" class="form">
            <input type="email" name="email" class="form__input input" placeholder="Enter your email" required>
            <button type="submit" class="form__button button">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer__menu_block menu_block grid__item--1--12 grid">
      <div class="menu_block__time_work time_work grid__item--1--3">
        <span class="logo">OrgaFresh</span>
        <span class="time">Monday – Saturday: 8:00 am – 4:00pm</span>
        <span class="time">Sunday: 9:00 am – 5:00pm</span>
      </div>
      <div class="menu_block__navigation navigation grid__item--5-12">
        <div class="footer__menu menu">
          <div class="menu__block block">
            <span class="block__title">Quick links</span>
            <nav class="block__items">
              <a href="#about" class="item">About us</a>
              <a href="#blog" class="item">Blog</a>
              <a href="#" class="item">Check out</a>
              <a href="#contact" class="item">Contact</a>
              <a href="#" class="item">Services</a>
            </nav>
          </div>
          <div class="menu__block block">
            <span class="block__title">Categories</span>
            <nav class="block__items">
              <a href="#" class="item">Vegatables</a>
              <a href="#" class="item">Fresh fruit</a>
              <a href="#" class="item">Fresh meats</a>
              <a href="#" class="item">Nuts</a>
              <a href="#" class="item">Smothie</a>
            </nav>
          </div>   
          <div class="menu__block block">
            <span class="block__title">Help Center</span>
            <nav class="block__items">
              <a href="#" class="item">Help</a>
              <a href="#" class="item">Returns Policy</a>
              <a href="#" class="item">Terms & Conditions</a>
              <a href="#" class="item">Privacy Policy </a>
              <a href="#" class="item">Support Center</a>
            </nav>
          </div>   
          <div class="menu__block block">
            <span class="block__title">Contact info</span>
            <nav class="block__items">
              <a href="#" class="item">29 Rue du Bourg Tibourg, 75004 Paris, France</a>
              <a href="mailto:Organicfood@gmail.com" class="item">Organicfood@gmail.com</a>
            </nav>
          </div>     
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright grid__item--1--12">
    <span class="copyright__sign">Copyright © 2020 Avitexthemes Inc. All rights reserved</span>
    <div class="copyright__icons">
      <a class="icon__link" href="#">
        <svg class="svg" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.5625 0.392857C8.32143 0.357142 7.49107 0.285713 6.52679 0.285713C4.50893 0.285713 3.125 1.51786 3.125 3.77678V5.72321H0.848214V8.36607H3.125V15.1429H5.85714V8.36607H8.125L8.47322 5.72321H5.85714V4.03571C5.85714 3.27678 6.0625 2.75 7.16071 2.75H8.5625V0.392857Z" fill="#88B13E"/>
        </svg>
      </a>
      <a class="icon__link" href="#">
        <svg class="svg" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.4643 1.92857C14.0655 2.5119 13.5833 3.00893 13.0179 3.41964C13.0238 3.50298 13.0268 3.62798 13.0268 3.79464C13.0268 4.56845 12.9137 5.34226 12.6875 6.11607C12.4613 6.88393 12.1161 7.62202 11.6518 8.33036C11.1935 9.03869 10.6458 9.66667 10.0089 10.2143C9.37202 10.756 8.60417 11.1905 7.70536 11.5179C6.80655 11.8393 5.84524 12 4.82143 12C3.20833 12 1.73214 11.5685 0.392857 10.7054C0.601191 10.7292 0.833333 10.7411 1.08929 10.7411C2.42857 10.7411 3.62202 10.3304 4.66964 9.50893C4.04464 9.49702 3.48512 9.30655 2.99107 8.9375C2.49702 8.5625 2.15774 8.08631 1.97321 7.50893C2.16964 7.53869 2.35119 7.55357 2.51786 7.55357C2.77381 7.55357 3.02679 7.52083 3.27679 7.45536C2.61012 7.31845 2.05655 6.9881 1.61607 6.46429C1.18155 5.93452 0.964286 5.32143 0.964286 4.625V4.58929C1.36905 4.81548 1.80357 4.9375 2.26786 4.95536C1.875 4.69345 1.5625 4.35119 1.33036 3.92857C1.09821 3.50595 0.982143 3.04762 0.982143 2.55357C0.982143 2.02976 1.1131 1.54464 1.375 1.09821C2.09524 1.98512 2.97024 2.69643 4 3.23214C5.03571 3.7619 6.14286 4.05655 7.32143 4.11607C7.27381 3.88988 7.25 3.66964 7.25 3.45536C7.25 2.65774 7.52976 1.97917 8.08929 1.41964C8.65476 0.854166 9.33631 0.571428 10.1339 0.571428C10.9673 0.571428 11.6696 0.875 12.2411 1.48214C12.8899 1.35714 13.5 1.125 14.0714 0.785714C13.8512 1.47024 13.4286 2 12.8036 2.375C13.3571 2.31548 13.9107 2.16667 14.4643 1.92857Z" fill="#888888"/>
        </svg>
      </a>
      <a class="icon__link" href="#">
        <svg class="svg" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.92857 10.0714C3.2619 10.4048 3.42857 10.8095 3.42857 11.2857C3.42857 11.7619 3.2619 12.1667 2.92857 12.5C2.59524 12.8333 2.19048 13 1.71429 13C1.2381 13 0.833333 12.8333 0.5 12.5C0.166667 12.1667 0 11.7619 0 11.2857C0 10.8095 0.166667 10.4048 0.5 10.0714C0.833333 9.7381 1.2381 9.57143 1.71429 9.57143C2.19048 9.57143 2.59524 9.7381 2.92857 10.0714ZM8 12.3839C8.01191 12.5506 7.96131 12.6935 7.84821 12.8125C7.74107 12.9375 7.60119 13 7.42857 13H6.22321C6.07441 13 5.94643 12.9524 5.83929 12.8571C5.73214 12.756 5.67262 12.631 5.66071 12.4821C5.52976 11.119 4.97917 9.95536 4.00893 8.99107C3.04464 8.02083 1.88095 7.47024 0.517857 7.33929C0.369048 7.32738 0.244048 7.26786 0.142857 7.16071C0.047619 7.05357 0 6.92559 0 6.77679V5.57143C0 5.39881 0.0625 5.25893 0.1875 5.15179C0.28869 5.0506 0.416667 5 0.571429 5H0.616071C1.56845 5.07738 2.47917 5.31845 3.34821 5.72321C4.21726 6.12202 4.9881 6.66071 5.66071 7.33929C6.33929 8.0119 6.87798 8.78274 7.27679 9.65179C7.68155 10.5208 7.92262 11.4315 8 12.3839ZM12.5714 12.4018C12.5833 12.5625 12.5298 12.7024 12.4107 12.8214C12.3036 12.9405 12.1667 13 12 13H10.7232C10.5685 13 10.4345 12.9494 10.3214 12.8482C10.2143 12.7411 10.1577 12.6131 10.1518 12.4643C10.0804 11.1845 9.77976 9.97024 9.25 8.82143C8.72024 7.66667 8.02976 6.66667 7.17857 5.82143C6.33333 4.97024 5.33333 4.27976 4.17857 3.75C3.02976 3.22024 1.81548 2.91667 0.535714 2.83928C0.386905 2.83333 0.258929 2.77679 0.151786 2.66964C0.0505952 2.55655 0 2.42559 0 2.27678V0.999999C0 0.833332 0.0595238 0.696428 0.178571 0.589285C0.285714 0.482142 0.416667 0.428571 0.571429 0.428571H0.598214C2.15774 0.505952 3.64881 0.863095 5.07143 1.5C6.5 2.1369 7.76786 3.0119 8.875 4.125C9.9881 5.23214 10.8631 6.5 11.5 7.92857C12.1369 9.35119 12.494 10.8423 12.5714 12.4018Z" fill="#888888"/>
        </svg>
      </a>
      <a  class="icon__link"href="#">
        <svg class="svg" width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.4732 8.77679C10.4732 8.47917 10.4137 8.20833 10.2946 7.96429C10.1815 7.71429 10.0387 7.50893 9.86607 7.34821C9.69345 7.1875 9.47619 7.04167 9.21429 6.91071C8.95238 6.77976 8.70536 6.67857 8.47322 6.60714C8.24702 6.53571 7.9881 6.46726 7.69643 6.40179L6.76786 6.1875C6.58929 6.14583 6.45833 6.11607 6.375 6.09821C6.29167 6.0744 6.1875 6.03869 6.0625 5.99107C5.9375 5.94345 5.84821 5.89583 5.79464 5.84821C5.74107 5.80059 5.69048 5.73809 5.64286 5.66071C5.60119 5.58333 5.58036 5.49405 5.58036 5.39286C5.58036 4.93452 6.00893 4.70536 6.86607 4.70536C7.12202 4.70536 7.35119 4.74107 7.55357 4.8125C7.75595 4.88393 7.91667 4.97024 8.03572 5.07143C8.15476 5.16667 8.26786 5.26488 8.375 5.36607C8.48214 5.46726 8.60119 5.55357 8.73214 5.625C8.8631 5.69643 9.00595 5.73214 9.16072 5.73214C9.44048 5.73214 9.66369 5.6369 9.83036 5.44643C10.003 5.25595 10.0893 5.02679 10.0893 4.75893C10.0893 4.43155 9.92262 4.1369 9.58929 3.875C9.25595 3.60714 8.83333 3.40476 8.32143 3.26786C7.80952 3.13095 7.26786 3.0625 6.69643 3.0625C6.29167 3.0625 5.89881 3.11012 5.51786 3.20536C5.13691 3.29464 4.77976 3.43452 4.44643 3.625C4.11905 3.80952 3.85417 4.06845 3.65179 4.40178C3.45536 4.72917 3.35714 5.11012 3.35714 5.54464C3.35714 5.90774 3.41369 6.22619 3.52679 6.5C3.63988 6.76786 3.80655 6.99107 4.02679 7.16964C4.24702 7.34821 4.48512 7.49405 4.74107 7.60714C4.99702 7.71429 5.30357 7.80952 5.66071 7.89286L6.96429 8.21429C7.5 8.34524 7.83333 8.45238 7.96429 8.53571C8.15476 8.65476 8.25 8.83333 8.25 9.07143C8.25 9.30357 8.13095 9.49702 7.89286 9.65179C7.65476 9.8006 7.34226 9.875 6.95536 9.875C6.65179 9.875 6.37798 9.82738 6.13393 9.73214C5.89583 9.6369 5.70238 9.52381 5.55357 9.39286C5.41071 9.25595 5.27679 9.12202 5.15179 8.99107C5.02679 8.85417 4.88988 8.7381 4.74107 8.64286C4.59226 8.54762 4.43155 8.5 4.25893 8.5C3.96131 8.5 3.73512 8.58929 3.58036 8.76786C3.43155 8.94643 3.35714 9.16964 3.35714 9.4375C3.35714 9.98512 3.72024 10.4554 4.44643 10.8482C5.17262 11.2351 6.03869 11.4286 7.04464 11.4286C7.47917 11.4286 7.89583 11.375 8.29464 11.2679C8.69345 11.1548 9.05655 10.994 9.38393 10.7857C9.71726 10.5774 9.98214 10.3006 10.1786 9.95536C10.375 9.60417 10.4732 9.21131 10.4732 8.77679ZM13.7143 10.7143C13.7143 11.6607 13.378 12.4673 12.7054 13.1339C12.0387 13.8065 11.2321 14.1429 10.2857 14.1429C9.51191 14.1429 8.81548 13.9048 8.19643 13.4286C7.7381 13.5238 7.29167 13.5714 6.85714 13.5714C6.00595 13.5714 5.19048 13.4048 4.41071 13.0714C3.63691 12.744 2.96726 12.3006 2.40179 11.7411C1.84226 11.1756 1.39583 10.506 1.0625 9.73214C0.735119 8.95238 0.571429 8.1369 0.571429 7.28571C0.571429 6.85119 0.619048 6.40476 0.714286 5.94643C0.238095 5.32738 0 4.63095 0 3.85714C0 2.91071 0.333333 2.10417 1 1.4375C1.67262 0.76488 2.48214 0.428571 3.42857 0.428571C4.20238 0.428571 4.89881 0.666666 5.51786 1.14286C5.97619 1.04762 6.42262 0.999999 6.85714 0.999999C7.70833 0.999999 8.52083 1.16667 9.29464 1.5C10.0744 1.82738 10.744 2.27381 11.3036 2.83928C11.869 3.39881 12.3155 4.06845 12.6429 4.84821C12.9762 5.62202 13.1429 6.43452 13.1429 7.28571C13.1429 7.72024 13.0952 8.16667 13 8.625C13.4762 9.24405 13.7143 9.94048 13.7143 10.7143Z" fill="#888888"/>
        </svg> 
      </a>       
    </div>
  </div>
  <script src="/bundle.js"></script>
</body>
</html>