<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Cart</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    </style>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="cart_page grid">
  {{> preloader }}
  {{> header_grid }}
  <main class="grid grid__item--1--12">
    {{> title_section }}
    <section class="cart_list cart_list grid__item--1--12 grid">
      <span class="cart__message grid__item--1--12">
        It's empty :(
      </span>
      <div class="cart_list__names_of_column grid__item--1--12 grid">
        <span class="name_of_column grid__item--1--5">Product name</span>
        <span class="name_of_column grid__item--6--7">Price</span>
        <span class="name_of_column grid__item--8--10">Quantity</span>
        <span class="name_of_column grid__item--11--11">Total</span>
      </div>
      <div class="cart_list__products grid__item--1--12">
        {{#each products}}
          <div class="cart_list__products__item item grid" id={{this.id}}>
            <div class="item__name grid__item--1--5">
              <img class="item__name__image" src={{this.images.[0].path}} alt="">
              <div class="item__name__block">
                <span class="block__name">{{this.name}}</span>
                <span class="block__category">{{this.category.name}}</span>
              </div>
            </div>
            <div class="item__price grid__item--6--7 price{{this.id}}">${{this.price}}</div>
            <div class="item__quantity grid__item--8--10">
              <div class="quantity__block" id={{this.id}}>
                {{> decrease_arrow}}
                <span class="quantity__block__value value{{this.id}}" id={{this.id}}>1</span>
                {{> increase_arrow}}
              </div>
            </div>
            <div class="item__total grid__item--11--11 total{{this.id}}" id={{this.id}}>${{this.price}}</div>
            <div class="item__delete grid__item--12--12" id={{this.id}}>
              {{> icon_item_delete}}
            </div>
          </div>
        {{/each}}
      </div>
    </section>
    <section class="cart_menu grid__item--1--12 grid">
      <div class="cart_menu__buttons grid__item--1--6">
        <button class="cart_menu__buttons__update">UPDATE CART</button>
        <a  href="/products/" class="cart_menu__buttons__continue">CONTINUE SHOPPING</a>
      </div>
      <div class="cart_menu__totals grid__item--8--12">
          <h2 class="cart_menu__totals__sign">CART TOTALS</h2>
          <div class="cart_menu__totals__amount">
            <span class="amount__sign">Total</span>
            <span class="amount__summ">${{totalPrice}}</span>
          </div>
          <button class="cart_menu__totals__checkout">PROCEED TO CHECKOUT</button>
        </div>
    </section>
  </main>
  {{> footer_grid }}
  {{> copyright }}
  <script src="/bundle.js"></script>
</body>
</html>